.page {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 100%;
}

.header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home_button {
  background-color: white;
  border: none;
  color: rgb(98, 98, 98);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  width: 180px;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial;
}

.green {
  color: rgb(8, 120, 48);
}

.searchbar {
  display: inline-flex;
  width: 700px;
  height: 100%;
  vertical-align: top;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 5px;
  border-style: none;
  width: 650px;
  height: 30px;
  margin-right: 0;
  background-color: rgb(201, 200, 200);
}

.search_button {
  border-radius: 5px;
  border-style: none;
  margin-left: 0;
  height: 30px;
  text-align: center;
  margin-top: 1px;
  background-color: rgb(8, 120, 48);
  vertical-align: top;
}

.search_button:hover {
  border-radius: 5px;
  border-style: none;
  margin-left: 0;
  height: 30px;
  text-align: center;
  margin-top: 1px;
  background-color: rgba(8, 120, 48, 0.7);
  vertical-align: top;
  cursor: pointer;
}

.search_button:active {
  border-radius: 5px;
  border-style: none;
  margin-left: 0;
  height: 30px;
  text-align: center;
  margin-top: 1px;
  background-color: rgba(8, 120, 48, 0.5);
  vertical-align: top;
  cursor: pointer;
}

.profilebuttons {
  display: inline-flex;
  width: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.login_button {
  font-size: 15px;
  font-family: Helvetica;
  margin-right: 3px;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  background-color: rgb(12, 170, 68);
  color: white;
  text-decoration: none;
  padding: 12px;
  height: auto;
  text-align: center;
  padding-left: 20;
  padding-right: 20;
}

.signup_button {
  font-size: 15px;
  font-family: Helvetica;
  margin-right: 3px;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  background-color: rgb(12, 170, 68);
  color: white;
  text-decoration: none;
  padding: 12px;
  height: auto;
  text-align: center;
  margin-left: 15px;
  padding-left: 20;
  padding-right: 20;
}

.view_profile_button {
  font-size: 15px;
  font-family: Helvetica;
  margin-right: 3px;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  background-color: rgb(12, 170, 68);
  color: white;
  text-decoration: none;
  padding: 12px;
  height: auto;
  text-align: center;
  margin-left: 15px;
  padding-left: 20;
  padding-right: 20;
}

/*content*/
.content {
  background-color: rgb(64, 180, 105);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  
}

.edit-title {
  text-align: center;
  font-size: 35px;
}

.eats {
  color: #225b24;
}

.input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  min-width: 200px;
  width: 90%;
}

#new-name {
  max-width: 600px;
  min-width: 200px;
  width: 100%;
}

#new-pass {
  max-width: 600px;
  min-width: 200px;
  width: 100%;
}

#avatar-upload {
  background-color: transparent;
  border: none;
}

#short-desc {
  resize: none;
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  height: 100px;
  background-color: #c9c9c8;
  border: none;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 35%;
  width: 100%;
}

#signup-button {
  font-size: 30px;
  font-family: Helvetica;
  margin-right: 3px;
  border-radius: 5px;
  border-style: none;
  height: 30px;
  background-color: rgb(0, 80, 28);
  color: white;
  text-decoration: none;
  padding: 12px;
  height: auto;
  text-align: center;
  margin-left: 15px;
  padding-left: 20;
  padding-right: 20;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

/*footer*/
.footer {
  width: 100%;
  height: 90px;
  display: flex;
  border: solid 15px;
  border-color: #4d564f;
}

.contact_information {
  height: 100%;
  width: 33%;
  background-color: #4d564f;
}

.contact_information p {
  margin: 0;
  margin-bottom: 3px;
  padding-left: 30px;
  color: white;
}

.address {
  height: 100%;
  width: 33%;
  background-color: #4d564f;
}

.address p {
  margin: 0;
  margin-bottom: 3px;
  padding-left: 23px;
  color: white;
}

.copyright_notice {
  height: 100%;
  width: 34%;
  background-color: #4d564f;
}

.copyright_notice p {
  margin: 0;
  margin-bottom: 3px;
  padding-left: 23px;
  color: white;
}

.copyright_text {
  font-size: 8px;
}
